DISCORD_AUTH_TOKEN=YOUR_DISCORD_AUTH_TOKEN
DISCORD_X_SUPER_PROPERTIES=YOUR_X_SUPER_PROPERTIES
DISCORD_COOKIE=
DISCORD_WEBHOOK_MAIN=https://discord.com/api/webhooks/WEBHOOK_ID/WEBHOOK_TOKEN
MATRIX_ACCESS_TOKEN=YOUR_MATRIX_ACCESS_TOKEN
